<form action="/testauth" method="POST">
	<label for="username">Instapaper Username</label>
	<input type="text" name="username" id="username" />
	<label for="password">Instapaper Password</label>
	<input type="password" name="password" id="password" />
	<input type="submit" value="Test auth" />
</form>